@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

body{
    display: flex;
    flex-direction: column;
}

nav{
    height: 60px;
    font-family: 'Epilogue', sans-serif;
}
 
.text{
    margin-top: 10vh;
}

.text h2{
    margin-top: 5vh;
}

.text button{
    margin-top: 5vh; 
}

.text button:hover{
    background-color: white;
    color: black;
}

.container h1 {
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    font-size: 90px;
}

.container h2 {
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.logos{
    margin-top: 17vh;
    
}

.images img{
    width: 520px;
    margin-left: 18vh;
    
}

@media (max-width: 768px) {
    .text{
        display: none;
    }
    .text1{
        margin-top: 10vh;
    }
    
    .text1 h2{
        margin-top: 5vh;
    }
    
    .text1 button{
        margin-top: 5vh; 
    }
    
    .text1 button:hover{
        background-color: white;
        color: black;
    }
    
  }


